## field          allowed values
## -----          --------------
## minute         0-59
## hour           0-23
## day of month   1-31
## month          1-12 (or names, see below)
## day of week    0-7 (0 or 7 is Sun, or use names)

*/2  * * * * cd /home/blalor/xbee_dispatcher && ./upload_data.py

00   4 * * * cd /home/blalor/xbee_dispatcher/sprinkler_controller.py activate_sprinkler   1
20   4 * * * cd /home/blalor/xbee_dispatcher/sprinkler_controller.py deactivate_sprinkler 1
20   4 * * * cd /home/blalor/xbee_dispatcher/sprinkler_controller.py activate_sprinkler   2
40   4 * * * cd /home/blalor/xbee_dispatcher/sprinkler_controller.py deactivate_sprinkler 2

00  15 * * * cd /home/blalor/xbee_dispatcher/sprinkler_controller.py activate_sprinkler   1
20  15 * * * cd /home/blalor/xbee_dispatcher/sprinkler_controller.py deactivate_sprinkler 1
20  15 * * * cd /home/blalor/xbee_dispatcher/sprinkler_controller.py activate_sprinkler   2
40  15 * * * cd /home/blalor/xbee_dispatcher/sprinkler_controller.py deactivate_sprinkler 2
